<head>
  <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <!-- <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
</head>

<body>
  <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="460"
    height="264"
	autoplay="muted"
    poster="MY_VIDEO_POSTER.jpg"
    data-setup="{}"
  >
    <source src="/stream/cam1.m3u8" type="application/x-mpegurl" />
    
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>
  
  <button onclick="capture()">Capture</button>  <br> </br>
  
	<canvas id="canvas" style="overflow:auto"></canvas>
	<p id="printresult"></p>
  <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
  <script>
	var player = videojs('my-video', {
	  autoplay: 'muted'
	});
	player.autoplay('muted');
	
	function capture() {        
    var canvas = document.getElementById('canvas');     
    var video = document.getElementById('my-video_html5_api');
    canvas.width = 460;
    canvas.height = 264;
    ctx2 = canvas.getContext('2d')
	ctx2.drawImage(video, 0, 0, 460,264,0, 0, 460,264);  
    document.getElementById("printresult").innerHTML = canvas.toDataURL(); 
 }
  </script>
</body>